.experiencePrice {
    display: flex;
}

.experiencePrice__left {
    flex: 0.2;
}

.experiencePrice__right {
    flex: 0.8;
}

.experiencePrice__right > p {
    padding: 30px;
    color: #222222;
    font-size: 16px;
    font-weight: 600;
}

.experiencePrice__container {
    position: absolute;
    top: 149px;
    left: 538px;
    max-width: 629px;
}

.experiencePrice__containerAbout {
    margin-bottom: 60px;
}

.experiencePrice__containerAbout > h1 {
    margin-bottom: 20px;
    color: #222222;
    font-size: 35px;
}

.experiencePrice__containerAbout > p {
    color: #484848;
    font-size: 18px;
    line-height: 28px;
}

.experiencePrice__containerAbout > div > input {
    width: 65%;
    height: 40px;
    outline-width: 0;
    border: 1px solid lightgray;
    margin-top: 20px;
}

.experiencePrice__containerAbout > div > input[type="text"]
{
    font-size:20px;
}

.experiencePrice__containerButtons {
    display: flex;
}

.experiencePrice__containerButtons > button {
    margin-right: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.29), 0 3px 10px 0 rgba(0, 0, 0, 0.29);
    text-transform: inherit !important;
}

.experiencePrice__infoInButton > strong {
    font-size: 20px;
    font-weight: 600;
}

.experiencePrice__infoInButton > p {
    color: #484848;
    text-align: unset !important;
}

.experiencePrice__Button {
    border: 2px solid #222222 !important;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
}

.experiencePrice__footer {
    position: absolute;
    bottom: 0px;
    padding-top: 25px;
    width: 80%;
    border-top: 1px solid lightgray;
}

.experiencePrice__footerButtons {
    display: flex;
    justify-content: space-between;
}

.experiencePrice__footerButtons > button {
    text-transform: inherit !important;
    padding: 5px;
    width: 80px;
    margin: 0 30px 20px 30px;
}
