.favorites {
    display: flex;
    position: relative;
    padding: 20px;
    margin: 20px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.favorites:hover {
    opacity: 0.8;
}

.favorites > img {
    height: 200px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.favorites__removeButton {
    color: white !important;
    background-color: #ff7779 !important;
    text-transform: inherit !important;
    position: absolute;
    top: 20px;
    right: 10px;
}

.favorites__removeButton:hover {
    color: #ff7779 !important;
    background-color: white !important;
}

.favorites__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.favorites > button {
    position: absolute;
}


.favorites__infoTop {
    width: 40vw;
}

.favorites__infoTop > h3 {
    font-weight: 400;
    margin-top: 10px;
}

.favorites__infoTop > p {
    margin-top: 10px;
    font-size: 13px;
    color: gray;
}

.favorites__infoBottom {
    display: flex;
    justify-content: space-between;
}


.favorites__stars {
    display: flex;
    align-items: center;
}

.favorites__price > p {
    text-align: right;
}

.favorites__price {
    position: absolute;
    bottom: 20px;
    right: 30px;
}