.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: white;
}

.header__center {
    display: flex;
    align-items: center;
    padding: 10px;
    flex: 1;
    max-width: fit-content;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;
 
}

.header__logo {
    object-fit: contain;
    height: 100px;
    margin-left: 20px;
}

.header__center > input {
    border: none;
    width: 250px;
    padding: 10px;
    outline-width: 0;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
}

.header__right > p {
    text-transform: capitalize;
    font-size: 24px;
}

.header__rightButton {
    color: white !important;
    background-color: #ff7779 !important;
    text-transform: inherit !important;
    margin-right: 10px;
}
.header__rightButton:hover {
    color: #ff7779;
    background-color: white;
}

.header__rightButtonExpand {
    color: #ff7779 !important; 
    text-transform: inherit !important;
    border-bottom: 1px solid lightgray !important;
}

