.host {
    display: flex;
}

.host__form {
    padding-left: 70px;
    padding-bottom: 35px;
    left: 90px;
}

.host__contentButton {
    color: white !important;
    background-color: #ff7779 !important;
    text-transform: inherit !important;
    width: 73%;
}

.host__contentButton:hover {
    color: #ff7779 !important;
    background-color: white !important;
}

.host__contentDisabledButton {
    color: white !important;
    background-color: #6d6b6b !important;
    text-transform: inherit !important;
    width: 73%;
}

.host__contentDisabledButton:hover {
    cursor:not-allowed
}


.host__content {
    display: flex;
    flex-direction: column;
}

.host__content > input {
    height: 30px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
    outline-width: 0;
    width: 42%;
    border-radius: 12px;
    padding: 8px;
    font-size:18px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.host__content > input[type=text]:focus {
    border: 1px solid rgb(0, 132, 137);
}

.host__content > input[type=number]:focus {
    border: 1px solid rgb(0, 132, 137);
}

.host__content > label {
    color: #6d6b6b;
    margin-bottom: 10px;
}

.host__right {
    flex: 0.6;
}

.host__right > textarea {
    height: 31px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
    outline-width: 0;
    width: 85%;
    padding: 10px;
}

.host__right > input {
    height: 39px;
    border: 1px solid lightgray;
    margin-bottom: 10px;
    outline-width: 0;
    width: 85%;
}


.host__bedroomInfo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.host__SuitedFor > div > label {
    font-size: 20px;
    color: #222222;
}


.host__description {
    margin-left: 40px;
    margin-bottom: 30vh;
}

.host__description > textarea {
    width: 50%;
    height: 20vh;
    border-radius: 12px;
    padding: 12px;
    outline-width: 0;
    font-size:20px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    
}

.host__numberOfBed > input {
    height: 30px;
    border: 1px solid lightgray;
    margin-bottom: 30px;
    outline-width: 0;
    width: 42%;
    border-radius: 12px;
    padding: 8px;
    font-size:18px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    
}

.host__numberOfBed > input[type=number]:focus {
    border: 1px solid rgb(0, 132, 137);
}

.host__button {
    background-color: #ff7779 !important;
    color: white !important;
    text-transform: inherit !important;
    width: 100px;
}

.host__button:hover {
    background-color: white !important;
    color: #ff7779 !important;
    text-transform: inherit !important;
    width: 100px;
}

.MuiStepIcon-root.MuiStepIcon-active {
    color: #ff7779 !important;
}
.MuiStepIcon-root.MuiStepIcon-completed {
    color: #ff7779 !important;
}





